* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color:  #424D83;
$secondary-color: #93A5FF;


section {
  .layout-wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 28px;
        color: #2e2e2e;
        font-family: "NunitoSans-Regular";
      }
      p {
        font-size: 22px;
        color: #585858;
        font-family: "NunitoSans-Regular";
        margin-top: 10px;
      }
    }
  }
}
footer {
  .layout-wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 28px;
        color: #2e2e2e;
        font-family: "NunitoSans-Regular";
      }
      p {
        font-size: 22px;
        color: #585858;
        font-family: "NunitoSans-Regular";
        margin-top: 10px;
      }
    }
  }
}
header {
  position: relative;
  z-index: 1;
  background-color: $primary-color;
  nav {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    display: flex;
    .logo {
      margin: 46px 440px 0 0;
      img {
        width: 98px;
        height: 27px;
      }
    }
    .pages {
      display: flex;
      margin: 46px 71px 0 0;
      .page {
        color: white;
        font-size: 16px;
        font-family: "NunitoSans-Light";
        &:not(:first-child) {
          margin-left: 70px;
          cursor: pointer;
        }
      }
    }
    .log-in {
      cursor: pointer;
      margin-top: 33px;
      width: 120px;
      height: 45px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px;
      p {
        color: $secondary-color;
        font-size: 16px;
        font-family: "NunitoSans-Bold";
      }
      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}
.welcome-content {
  position: relative;
  z-index: 0;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 400px;
  .layout-wrapper {
    .body {
      display: flex;
      .text-box {
        margin-top: 150px;
        margin-right: 60px;
        h1 {
          font-size: 40px;
          font-family: "Roboto-Bold";
          color: white;
        }
        p {
          font-size: 20px;
          font-family: "NunitoSans-Regular";
          color: white;
          margin: 15px 0 30px 0;
        }
        .check-availability {
          display: flex;
          .search-name {
            width: 320px;
            height: 50px;
            border-radius: 5px;
            background-color: #384170;
            display: flex;
            margin-right: 26px;
            padding: 0 16px 0 16px;
            cursor: pointer;
            p {
              font-size: 14px;
              font-family: "NunitoSans-Regular";
              color: white;
            }
            .line {
              width: 1px;
              height: 50px;
              background-color: $primary-color;
              margin: 0 30px 0 48px;
            }
          }
          .check {
            width: 180px;
            height: 50px;
            border: 0;
            border-radius: 5px;
            background-color: $secondary-color;
            color: white;
            font-size: 12px;
            font-family: "NunitoSans-Regular";
            color: white;
            cursor: pointer;
          }
        }
      }
      .image-box {
        margin-top: 70px;
        img {
          width: 644px;
          height: 363px;
        }
      }
    }
  }
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 765px;
    clip-path: polygon(0 81%, 0 0, 100% 0, 100% 100%);
    background-color: $primary-color;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 725px;
    clip-path: polygon(100% 33%, 100% 67%, 0 81%, 0 35%);
    background-color: #8c9efc;
    position: absolute;
    top: 180px;
    z-index: -2;
  }
}
.services-content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 100px;
  .layout-wrapper {
    .body {
      display: flex;

      .text-box {
        margin-top: 60px;
        .services {
          .service {
            display: flex;
            margin-bottom: 60px;
            img {
              width: 40px;
              height: 40px;
              margin-right: 20px;
            }
            .text {
              h4 {
                font-size: 18px;
                color: #2e2e2e;
                font-family: "NunitoSans-Bold";
                margin-bottom: 20px;
              }
              p {
                font-size: 16px;
                color: #585858;
                font-family: "NunitoSans-Regular";
                max-width: 400px;
                line-height: 30px;
              }
            }
          }
        }
      }
      .image-box {
        position: relative;
        z-index: 1;
        margin: 105px 0 0 170px;
        width: 580px;
        height: 350px;
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 500px;
          height: 280px;
          border-radius: 5px;
          &:nth-child(2) {
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 2;
            top: 189px;
            left: -61px;
          }
          &:nth-child(3) {
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 2;
            top: -59px;
            right: -31px;
          }
        }
      }
    }
  }
}
.guide-content {
  max-width: 1440px;
  width: 100%;
  background-color: #f7f8ff;
  padding: 100px 0 100px 0;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  .layout-wrapper {
    .body {
      display: flex;
      justify-content: space-between;
      .card {
        .card-content {
          max-width: 590px;
          background-color: #93A5FF;
          border-radius: 5px;
          padding: 40px;
          margin-top: 70px;
          position: relative;
          z-index: 0;
          .image-box {
            width: 60px;
            height: 60px;
            background-color: $primary-color;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 30px;
              height: 50px;
              &:nth-child(2) {
                position: absolute;
                z-index: 1;
                width: 167px;
                height: 70px;
                top: 40px;
                right: 40px;
              }
            }
          }
          .text-box {
            h4 {
              font-size: 20px;
              color: white;
              font-family: "NunitoSans-Bold";
              margin: 35px 0 20px 0;
            }
            p {
              font-size: 16px;
              color: white;
              font-family: "NunitoSans-Regular";
              margin-bottom: 20px;
              line-height: 30px;
            }
          }
          .learn-more {
            width: 160px;
            height: 50px;
            background-color: white;
            border: 0;
            border-radius: 5px;
            font-size: 16px;
            color: #93A5FF;
            font-family: "NunitoSans-Bold";
            margin-left: 350px;
          }
        }
        &:nth-child(2) {
          .card-content {
            background-color: #2d355d;
          }
        }
      }
    }
  }
}
.hostings-content {
  max-width: 1440px;
  width: 100%;
  padding: 100px 0 100px 0;
  .layout-wrapper {
    .body {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
      //   margin-top: 60px;
      .card {
        max-width: 280px;
        padding: 60px 30px 30px 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
        .card-content {
          text-align: center;

          .image-box {
            img {
              width: 55px;
              height: 45px;
            }
          }
          .text-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
              font-size: 18px;
              color: #2e2e2e;
              font-family: "NunitoSans-Bold";
              margin: 32px 0 22px 0;
            }
            p {
              font-size: 16px;
              color: #585858;
              font-family: "NunitoSans-Regular";
              line-height: 30px;
            }
            .line {
              width: 280px;
              background-color: #ebebeb;
              height: 1px;
              margin: 40px 0 30px 0;
            }
            .get-started {
              p {
                font-size: 16px;
                color: #2e2e2e;
                font-family: "NunitoSans-Regular";
              }
              h1 {
                font-size: 30px;
                color: #2e2e2e;
                font-family: "NunitoSans-Regular";
                span {
                  font-size: 14px;
                  color: #2e2e2e;
                  font-family: "NunitoSans-Regular";
                }
              }
            }
          }
        }
      }
    }
  }
}
.clients-content {
  max-width: 1440px;
  width: 100%;
  padding: 100px 0 100px 0;
  .layout-wrapper {
    .body {
      .clients {
        display: flex;
        margin: 70px 0 70px 0;
        justify-content: space-around;
        align-items: center;
        img {
          width: 180px;
          height: 50px;
          &:nth-child(2) {
            width: 155px;
            height: 40px;
          }
          &:nth-child(3) {
            width: 155px;
            height: 40px;
          }
          &:nth-child(4) {
            width: 155px;
            height: 45px;
          }
          &:nth-child(5) {
            width: 150px;
            height: 38px;
          }
        }
      }
      .free-trial {
        width: 150px;
        height: 40px;
        background-color: #93A5FF;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        font-family: "NunitoSans-Light";
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}
footer {
  max-width: 1440px;
  width: 100%;
  position: relative;
  padding-top: 150px;
  .layout-wrapper {
    position: relative;
    z-index: 1;
    .body {
      .top {
        display: flex;
        margin-bottom: 80px;
        .pages-column {
          display: flex;
          justify-content: space-between;
          .column {
            color: white;
            margin-right: 188px;
            h5 {
              font-size: 16px;
              font-family: "NunitoSans-Bold";
              margin-bottom: 18px;
            }
            h6 {
              font-size: 14px;
              font-family: "NunitoSans-Light";
              margin-bottom: 14px;
            }
          }
        }
        .we-accept {
          h4 {
            font-size: 14px;
            font-family: "NunitoSans-SemiBold";
            color: white;
          }
          .bank-carts {
            display: flex;
            margin-top: 22px;
            .cart {
              width: 60px;
              height: 40px;
              border-radius: 5px;
              background-color: #2d355d;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 40px;
                height: 20px;
              }
              &:not(:first-child) {
                margin-left: 8px;
              }
            }
          }
        }
      }
      .bottom {
        .image-box {
          display: flex;
          justify-content: space-between;
          margin-bottom: 14px;
          .logo {
            img {
              width: 80px;
              height: 26px;
            }
          }
          .soc-media {
            img {
              width: 24px;
              height: 20px;
              &:nth-child(2) {
                margin: 0 6px 0 6px;
              }
            }
          }
        }
        .text-box {
          color: white;
          display: flex;
          justify-content: space-between;
          .address {
            font-size: 14px;
            font-family: "NunitoSans-Regular";
          }
          .privacy-policy {
            display: flex;
            align-items: center;
            p {
              font-size: 14px;
              font-family: "NunitoSans-Regular";
            }
            .line {
              width: 1px;
              height: 24px;
              background-color: #ffffff;
              margin: 0 10px 0 10px;
            }
          }
        }
      }
    }
  }
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 550px;
    clip-path: polygon(100% 24%, 100% 100%, 0 100%, 0 0);
    background-color: $primary-color;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 500px;
    clip-path: polygon(100% 55%, 100% 100%, 0 100%, 0 79%);
    background-color: #8c9efc;
    position: absolute;
    top: -280px;
    z-index: -1;
  }
}
